<html>
  <head>
    <title>Computer Equipment Sales</title>
  </head>
  <body>
    <h1 class="buyukbaslik">Computer Equipment Sales</h1>
    <div class="hakkimizda">Fatih Yavuz & Ahmet Yakup Çetinkaya</div>
    <mat-form-field class="example-full-width">
      <mat-label>Ürün Kodu</mat-label>
      <input matInput placeholder="Ürün Kodu">
    </mat-form-field>
    <button mat-button class="anabutton" [matMenuTriggerFor]="animals">Computer Equipments</button>
    <mat-menu #animals="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="ComputerCase">Computer Case</button>
      <button mat-menu-item [matMenuTriggerFor]="Gpu">GPU</button>
      <button mat-menu-item>HDD</button>
      <button mat-menu-item [matMenuTriggerFor]="Mainboard">Mainboard</button>
      <button mat-menu-item [matMenuTriggerFor]="Monitor">Monitor</button>
      <button mat-menu-item [matMenuTriggerFor]="CPU">CPU</button>
      <button mat-menu-item>Ram</button>
      <button mat-menu-item>SSD</button>
    </mat-menu>

    <mat-menu #ComputerCase="matMenu">
      <button mat-menu-item>Computer Case</button>
      <button mat-menu-item>Computer Case Psu</button>
    </mat-menu>

    <mat-menu #Gpu="matMenu">
      <button mat-menu-item>Display Card</button>
      <button mat-menu-item>Display Card Gpu</button>
      <button mat-menu-item>Display Card Memory</button>
    </mat-menu>


    <mat-menu #Mainboard="matMenu">
      <button mat-menu-item>Mainboard</button>
      <button mat-menu-item>Mainboard Ram</button>
    </mat-menu>

    <mat-menu #Monitor="matMenu">
      <button mat-menu-item>Monitor</button>
      <button mat-menu-item>Monitor Screen</button>
    </mat-menu>

    <mat-menu #CPU="matMenu">
      <button mat-menu-item>Cpu</button>
      <button mat-menu-item>Cpu Core</button>
    </mat-menu>
  </body>
</html>
